.message{data: {message: {id: message.id}}}
  .faceicon
    %p= message.user.name
  .chatting
    .chatting__says
      - if message.content.present?
        %p.lower-message__content
          = message.content
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
    .message__date
      = l message.created_at, format: :long