.toppage-image
  .app-info
    .app-info__left
      チャットアプリ
      = link_to groups_path, class: "app-info__left__image" do
        = image_tag 'app1.png'
    .app-info__right
      ブログアプリ
      = link_to posts_path, class: "app-info__left__image" do
        = image_tag 'app2.png'