* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main {
  margin: 0 10px;
  display: flex;
  &-header {
    display: flex;
    height: 100px;
    width: 100vw;
    &__left {
      margin: auto 10px;
      &__group {
        width: 300px;
        white-space: nowrap;
        text-shadow: #FC0 1px 0 10px;
        color: whitesmoke;
        font-weight: 600;
        font-size: 50px;
      }
    }
    .menber-list {
      width: 100%;
      margin: auto 40px;
      &__left__member {
        padding: 5px 20px;
        background-color: rgba( 245, 245, 245, 0.6);
        border-radius: 5px;
        overflow: scroll;
        h6 {
          font-weight: bold;
        }
        &__name {
          display: flex;
        }
        p {
          padding: 5px 20px;
          border-bottom: 3px solid whitesmoke;
          font-size: 18px;
          color: black;
        }
      }
    }
    .main-header__right__btn {
      width: 300px;
      height: 60px;
      line-height: 60px;
      margin: auto 5px;
      @include btn;
      text-align: center;
      background-color: whitesmoke;
    }
  }
}

.messages {
  background-image: image-url('chat.jpg');
  background-size: cover;
  background-position: bottom;
  padding: 20px 10px;
  background-color: whitesmoke;
  height: 500px;
  overflow: scroll;
  .message {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
    .faceicon {
      float: left;
      margin-right: -90px;
      width: 80px;
      img {
        width: 100%;
        height: auto;
        border: solid 3px #d7ebfe;
        border-radius: 50%;
      }
      p {
        font-size: 18px;
        font-weight: 600;
        color: whitesmoke;
        text-shadow: #FC0 1px 0 10px;
      }
    }
    .chatting {
      width: 100%;
      display: flex;
      &__says {
        display: inline-block;
        position: relative; 
        margin: 5px 0 0 105px;
        padding: 17px 13px;
        border-radius: 12px;
        background: #d7ebfe;
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          top: 18px; 
          left: -24px;
          border: 12px solid transparent;
          border-right: 12px solid #d7ebfe;
        }
      }
      .message__date {
        margin-left: 10px;
        color: white;
      }
    }
  }
}




