* {
  box-sizing: border-box;
}
.wrapper {
  margin-top: 75px;
  background-color: darkolivegreen;
}

a {
  text-decoration: none;
}

.side {
  display: flex;
  width: 100vw;
  color: $white;
  &-header {
    margin: 10px;
    height: 200px;
    width: 200px;
    font-weight: bold;
    background-color: rgba( 0, 100, 0, 0.6);
    position: relative;
    &__name__edit {
      line-height: 70px;
      width: 150px;
      @include image-text__center;
      a {
        @include btn;
        background-color: rgba( 245, 245, 245, 1);
        &:hover {
          color: white;
        }
      }
    }
  }
}
.side-groups {
  background-color: rgba( 245, 245, 245, 0.6);
  width: calc(100vw - 200px);
  display: flex;
  margin: 10px;
  overflow: scroll;
  &__group {
    margin: 5px;
    padding: 10px;
    border: 1px solid;
    height: 95%;
    text-align: center;
    .group__name {
      width: 150px;
      margin: 0 auto;
      h3 {
        color: green;
        border-bottom: 3px solid orange;
        text-shadow: #FC0 1px 0 10px;
        font-weight: bold;
        font-size: 20px;
      }
    }
    .group__name__message {
      margin-top: 10px;
      border-radius: 10px;
      border: solid 1px darkolivegreen;
    }
  }
}