.notification {
  .notice {
    color: $white;
    text-align: center;
    background-color: rgb( 0, 100, 0);
    z-index: 11;
  }
  
  .alert {
    background-color: rgb(241, 92, 234);
    text-align: center;
    z-index: 11;
  }
}
